@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html{
  height: 100%;
}
body{
  height:100%;
  overflow-x: hidden;
}
header{
  width: 100%;
  height: 4rem; /* 20px*4 =80px */
  border-bottom: 1px solid rgba(255,255,255,0.5);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  padding: 0 3.5rem;
  box-sizing: border-box;
}
header .header_wrap{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header:before{ /* 서브메뉴 뒷배경 */
  content: "";
  position: absolute;
  left: 0;
  top: 3.95rem;
  height: 0;
  background: rgba(0,0,0,0.92);
  transition: 0.3s;
}
header.on:hover::before{ /* 제이쿼리에서 .on 활용 */
  height: 10rem; /* 200px */
}
header:hover, header.bg{
  background: rgba(0,0,0,0.5);
}
.logo{
  width: 30%;
}
.logo a{
  display: block;
  width: 120px;
  height: 45px;
  /* border: 1px solid #f00; */
}
.logo a img{
  width: 120px;
  height: 45px;
}
.menu{
  display: none;
}
nav{
  width: 60%;
}
nav > ul{ /* 대메뉴 */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav > ul > li{ 
  position: relative;
  width: 25%;
  text-align: center;
  /* border: 1px solid #f00; */
}
nav > ul > li > a{
  display: block;
  height: 3.95rem;
  line-height: 3.95rem;
  color: #fff;
  font-size: 1rem;
  padding: 0.2rem;
  position: relative;
  font-family: 'Nanum Gothic', sans-serif;
}
header.bg nav > ul > li > a, header:hover nav > ul > li > a, nav > ul > li:hover > a{
  color: #fff;
}
nav > ul > li > a:before{/* 위쪽 보더 */
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  height: 3px;
  background: #bcc1d2;
  transform: translateX(-50%);
  transition: 0.5s;
}
nav > ul > li:hover > a:before{
  width: 70%;
  transform: translateX(-50%);
}
.inner{/* 서브메뉴 */
  position: absolute;
  left: 0;
  top: 3.95rem;
  width: 100%;
  z-index: 100;
  text-align: center;
  padding-top: 1rem;
  height: 7rem;
}
nav > ul > li:hover .inner{
  background: rgba(34, 42, 63, 0.92);
}
.inner li a{
  color: #bfbebe;
  display: block;
  padding: 10px 0;
  font-size: 0.8rem
}
.inner li a:hover{
  color: #fff;
}
.menu{
  display: none;
  text-indent: -9999px;
}
main .slide{
  clear: both;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
}
main .slide img{
  display: block;
  width: 100%;
  height: 100%;
}
main .slide .tit{
  position: absolute;
  left: 5%;
  top: 30%;
  width: 900px;
  height: 300px;
  overflow: hidden;
  /* border: 1px solid #00f; */
}
main .slide .tit .s_txt{
  position: relative;
  width: 100%;
  height: 300px;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 2.2;
  color: #fff;
  animation: boxMove 3.2s;
  animation-delay: .8s;
}
main .slide .tit .s_txt p:nth-child(1){
  position: relative;
  left: 0;
  top: 0;
  /* border:1px solid #ff0; */
  animation: ani 0.8s;
  animation-delay: .8s;
}
main .slide .tit .s_txt p:nth-child(2){
  position: relative;
  left: 0;
  top: 0;
  /* border:1px solid #ff0; */
  animation: ani1 0.8s;
  animation-delay: 1.6s;
}
main .slide .tit .blue_txt{
  font-size: 2.3rem;
  color: #040f71;  
}
main .slide .tit .blue_txt1{
  font-size: 2.3rem;
  color: #040f71;
}
main .slide .tit .red_txt{
  font-size: 2.3rem;
  color: #4b040a;
}
main .slide .tit .white_txt{
  letter-spacing: 0.09em;
}
main .slide .tit .eng_txt{
  margin-left: 30px;
  font-style: italic;
}
main .slide .bt_txt{
  position: absolute;
  left: 2%;
  bottom: 0;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 40px
}

@keyframes ani{
  0%{
    transform: translateY(100%);
    opacity: 0;
  }
  50%{
    transform: translateY(0);
    opacity: 0.5;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
} 

@keyframes ani1{
  0%{
    transform: translateY(100%);
    opacity: 0;
  }
  50%{
    transform: translateY(0);
    opacity: 0.5;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
} 

@keyframes boxMove{
  0%{
    transform: translateY(100%);
    opacity: 0;
  }
  50%{
    
    opacity:.5;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
} 

/* projects */
.sec1{
  width: 100%;
  clear: both;
  padding-top: 4rem;
  height: 100%;
  /* border: 1px solid #f00; */
  position: relative;
}
.sec1 .sec1_inner{
  width: 73%;
  margin: 0 auto;
  /* border: 1px solid #f00; */
}
.sec1 .tit{
/*   border: 1px solid #00f; */
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.sec1_inner h6{
  font-weight: bold;
  font-size: 2.2rem;
}
.sec1_inner .tit{
  width: 100%;
}
.sec1_inner .tit .view_more{
  width: 12%;
  /* border: 1px solid #0f0; */
}
.sec1 .view_more a{
  width: 100%;
  font-size: 0.6rem;
  border: 1px solid #333;
  display: block;
  padding: 0.4rem 0;
  text-align: center;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  position: relative;
}
.sec1 .view_more a:before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  z-index: -1;
  background: #9fa0a0;
  transition: all 0.5s ease-in-out;
}
.sec1 .view_more a:hover:before{
  left: 0;
}
.sec1 .view_more a:hover{
  color: #fff;
}
.projects{
  width: 100%;
}
.projects > ul{
  width: 100%;
  height: 100%;
  /* border: 1px solid #00f; */
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 70px;
}
.projects ul li{
  width: 32%;
  height: 500px;
  /* border: 1px solid #f00; */
}
.projects > ul > li > a > .ser_img{
  height: 100%;
  overflow: hidden;
}
.projects ul li a{
  display: block;
  height: 100%;
  /* overflow: hidden; */
}
.projects ul li img{ 
  display: block;
  width: 100%;
  height: 500px;
  transition: 0.8s;
}
.projects ul li a .ser_text{
  margin-top: 20px;
}
.projects ul li a:hover img{
  transform: scale(1.1);
}
.ser_text strong{
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 14px;
}
.ser_text span{
  display: block;
  font-size: 0.8rem;
  margin-top: 16px;
  color: #969696;
}

.sec2{
  clear: both;
  width: 100%;
  padding-top: 4rem;
  /* height: 900px; */
  /* border: 1px solid #f00; */
  position: relative;
}
.sec2 .sec2_inner{
  width: 1400px;
  margin: 0 auto;
  /* border: 1px solid #f00; */
}
.sec2 .tit{
  /* border: 1px solid #00f; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-top: 30px; */
}
.sec2_inner h2{
  display: block;
  font-weight: bold;
  font-size: 2.2rem;
  width: 100%;
}
.sec2_inner p{
  width: 90%;
  display: block;
  margin: 100px auto 0 60px;
  font-size: 0.8rem;
  /* justify-content: center; */
  /* border: 1px solid #f00; */
  letter-spacing: 0.06rem;
  line-height: 1.6;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
}
.sec2_img{
  width: 100%;
  overflow: hidden;
}
.sec2 .sec2_img ul{
  display: block;
  width: 100%;
  margin-top: 80px;
  /* border: 1px solid #f00; */
}
.sec2 .sec2_img ul li{
  width: 100%;
  margin-top: 30px;
  /* border: 1px solid #f00; */
}
.sec2 .sec2_img ul li a{
  display: block;
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.sec2_img ul li:nth-child(1) a .img{
  width: 100%;
  height: 100%;
  background: url(../images/img2.jpg) no-repeat;
  background-attachment: fixed;
}
.sec2_img ul li:nth-child(2) a .img{
  width: 100%;
  height: 100%;
  background: url(../images/img3.jpg) no-repeat;
  background-attachment: fixed;
}
.sec2_img ul li:nth-child(3) a .img{
  width: 100%;
  height: 100%;
  background: url(../images/img4.jpg) no-repeat;
  background-attachment: fixed;
}
.sec2_img ul li .text{
  width: 100%;
  height: 100%;
  position: relative;
  /* border: 1px solid #f00; */
}
.sec2_img ul li .text strong{
  display: block;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.sec2_img ul li .text span{
  display: block;
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%,-60%);
  margin-top: 12px;
}
.sec2_img ul li:hover .text{
  background: rgba(0,0,0,0.5);
}

.sec3{
  clear: both;
  padding-top: 4rem;
  /* height: 900px; */
  /* border: 1px solid #f00; */
  /* position: relative; */
}
.sec3 .sec3_inner{
  width: 1400px;
  margin: 0 auto;
  /* border: 1px solid #00f; */
}
.sec3 .tit{
  /* border: 1px solid #f0f; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}
.sec3 h2{
  display: block;
  font-weight: bold;
  font-size: 2.2rem;
  width: 100%;
  text-transform: uppercase;
}
.sec3 .sec3_inner .ser{
  width: 100%;
  /* height: 300px; */
  /* border: 1px solid #f00; */
}
.ser ul{
  width: 100%;
  margin-top: 80px;
  display: flex;
  /*   flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}
.ser ul li{
  width: 44%;
  height: 150px;
  border: 1px solid #969696;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.08);
  position: relative;
  cursor: pointer;
}
.ser ul li a{
  display: block;
}
.ser ul li a .line span{
  display: block;
  position: absolute;
  background: #040f71;
  transition: all 0.2s;
}
.ser ul li a .line span:nth-child(1){
  width: 0;
  height: 2px;
  left: 0;
  top: 0;
}
.ser ul li a .line span:nth-child(2){
  width: 2px;
  height: 0;
  right: 0;
  top: 0;
}
.ser ul li a .line span:nth-child(3){
  width: 0;
  height: 2px;
  right: 0;
  bottom: 0;
}
.ser ul li a .line span:nth-child(4){
  width: 2px;
  height: 0;
  left: 0;
  bottom: 0;
}
.ser ul li:hover .line span:nth-child(1){
  width: 100%;
}
.ser ul li:hover .line span:nth-child(2){
  height: 100%;
  transition-delay: 0.1s;
}
.ser ul li:hover .line span:nth-child(3){
  width: 100%;
  /* transition-delay: 0.2s; */
  }
.ser ul li:hover .line span:nth-child(4){
  height: 100%;  
  transition-delay: 0.1s;
}
.ser ul li a:hover .ser_ko,
.ser ul li a:hover .ser_eng{
  color: #040f71;
}
.ser ul li:nth-child(2) ~ li{
  margin-top: 40px;
}
.ser ul li .ser_txt{
  text-align: center;
  margin-top: 50px;
}
.ser ul li .ser_ko{
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.09em;
}
.ser ul li .ser_eng{
  display: block;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 12px;
  color: #969696;
}
.ser ul li:hover .ser_eng{
  color: #040f71;
}
.ser ul li:hover strong{
  color: #040f71;
}

/* footer */
footer{
  width: 100%;
  height: 100px;
  padding-top: 4rem;
}
footer .ft{
  display: flex;
  height: 100%;
  padding: 30px 0;
  background: rgb(5, 47, 87, 0.9);
}
footer .ft .left{
  width: 30%;
  position: relative;
  /* border: 1px solid #f00; */
}
footer .ft .left img{
  width: 150px;
  height: 50px;
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
}
footer .ft .center{
  width: 40%;
  /* border: 1px solid #00f; */
}
footer .ft .center p{
  padding: 15px 0 10px 0;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
}
footer .ft .center span{
  font-size: 16px;
  font-weight: 300;
  margin-top: 50px;
}
footer .ft .center p, footer .ft .center span{
  color: #fff;
}
footer .ft .right{
  width: 30%;
  /* border: 1px solid #f00; */
}
footer .ft .right ul{
  display: flex;
  margin-top: 20px;
  margin-right: 50px;
  /* border: 1px solid #f00; */
}
footer .ft .right ul li{
  flex: 1;
  text-align: center;
  /* border: 1px solid #f00; */
}
footer .ft .right li a{
  display: block;
}
footer .ft .right li img{
  width: 40px;
  height: 40px;
  margin: 0 auto;
  transition: 0.5s;
}
footer .ft .right li a:hover img, footer .ft .right li a:hover span{
  transform: scale(1.1);
  color: #cad45d;
}
footer .ft .right li span{
  display: block;
  color: #fff;
  font-size: 14px;
  margin-top: 12px;
  text-align: center;
  transition: 0.5s;
}

/*네비게이션메뉴 모바일 버전*/
#gnbMo{
  display: none;
  position: fixed;
  right:0;
  top:0;
  background: rgba(0,0,0,0.9);
  z-index: 500;
  width: 70%;
  height: 100%;
}
.gnbLABEL{
  display: block;
  position: absolute;
  right: 30px;
  top:20px;
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  background-image: url(../images/cross.png);background-repeat:no-repeat;
  background-size:28px 28px;
  background-position: center center;
  cursor: pointer;
  transition: all 0.6s;
  /* border: 1px solid #f00; */
}
.gnbNAV{
  width: 200px;
  height: 300px;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  margin-left: -100px;
  margin-top: -150px;
  transition: all 0.6s;
  /* border: 1px solid #fff; */
}
.gnbNAV .gnaTiT{
  display: block;
  width: 100%;
  height: 20px;
  text-align: left;
  line-height: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  color:#fff;
  transition:0.8s;
}
.gnbNAV .gnaTiT_2{
  display: block;
  width: 100%;
  height: 20px;
  text-align: left;
  line-height: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  color:#fff;
  transition:0.8s;
}
.gnbNAV .gnaTiT:hover, .gnbNAV .gnaTiT:active{
  color:#0076a9;
  transform: scale(1.2);
  border-left: 3px solid #0076a9;
  padding-left: 5px;
}
.toggleMenu > ul {
  /* width: 200px;
  height: 300px;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  left: 50%;
  margin-left: -100px;
  border: 1px solid #f00; */
}
.toggleMenu .toSub > li {
  width: 200px;
  margin-left: 30px;
}
.toggleMenu .toSub > li > a{
  display: block;
  color: #ddd;
  font-size: 16px;
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  transition: 0.8s;
}
.toggleMenu .toSub > li > a:hover{
  color:#0076a9;
}
.toggleMenu .toSub_2 > li > a{
  display: block;
  color: #ddd;
  font-size: 16px;
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  transition: 0.8s;
}
.gnaTiT_2 label{
  color:#0076a9;
}
.toSub_2 > li:nth-child(1) > a{
  color:#0076a9;
}

.toggleMenu label{
  width: 200px;
  cursor: pointer;
}
.toggleMenu input{
  display: none;
}
.toSub{
  display: none;
  z-index: 800;
}
#menu1:checked ~ .toSub{
  display: block;
}
#menu2:checked ~ .toSub{
  display: block;
}
#menu3:checked ~ .toSub{
  display: block;
}
#menu4:checked ~ .toSub{
  display: block;
}
#menu5:checked ~ .toSub{
  display: block;
}

.none{ /* 라디오버튼  */
  display: none;
}
.toggle_btn{
  display: none;
  width: 60px;
  height: 60px;
  background-image: url(img/menu.png);
  background-repeat:no-repeat;
  background-size:60px 60px;
  background-position: center center; 
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 100;
  /* border: 1px solid #f00; */
}

#toggle1:checked ~ #gnbMo{
  display: block;
}
#toggle2:checked ~ #gnbMo{
  display: none;
}
.log{
  width: 200px;
  height: 50px;
  /* border: 1px solid #f00; */
  position: absolute;
  display: flex;
  left: 8%;
  top: 70%;
}
.log .login::after{
  content: "|";
  color: #ddd;
  font-size: 14px;
  margin-left: 30px;
}
.log li{
  margin-right: 30px;
}
.log li a{
  font-size: 14px;
  color: #ddd;
  transition: 0.8s;
  font-weight: bold;
}
.log li a:hover{
  color:#0076a9;
}
@media screen and (max-width:1280px){
  main .slide{
    height: 800px;
}
  .slide .tit .s_txt p{
    font-size: 30px;
  }
  .slide .tit .s_txt p span{
    font-size: 30px;
  }
  main .slide .bt_txt{
    font-size: 30px;
    margin-left: 30px;
  }
  .sec1 .sec1_inner{
    width: 90%;
    /* border: 1px solid #0f0; */
  }
  .sec1_inner .tit{
    /* border: 1px solid #f00; */
    position: relative;
  }

  .projects{
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid #f00; */
  }
  .projects ul li{
    width: 32%;
    height: 430px;
    /* border: 1px solid #f00; */
  }

  .sec2 .sec2_inner{
    width: 90%;
    /* border: 1px solid #f00; */
  }
  .sec2 .sec2_img ul li a{
    display: block;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  .sec3 .sec3_inner{
    width: 90%;
    /* border: 1px solid #f00; */
  }

  footer .ft .left{
    width: 20%;
    /* border: 1px solid #f00; */
  }
  footer .ft .center{
    width: 48%;
    /* border: 1px solid #00f; */
  }
  footer .ft .right{
    width: 32%;
    /* border: 1px solid #f00; */
  }
}

@media screen and (max-width:768px){
  html{
    font-size: 14px;
  }
  header .header_wrap{
    width: 98%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid pink; */
    display: flex;
    justify-content: space-between;
  }
  nav{
    display: none;
  }
  .menu{
    display: block;
    width: 3rem;
    height: 3.95rem;
    background: url(../images/hamburger2.png) no-repeat 0 50%;
    background-size: contain;
    /* border: 1px solid #f00; */
    }
  .logo a img{
    width: 100px;
    height: 30px;
    margin-top: 10px;;
  }
  main > .slide{
    height: 500px;
}
  .slide .tit .s_txt p{
    font-size: 18px;
  }
  .slide .tit .s_txt p span{
    font-size: 18px;
  }
  main .slide .bt_txt{
    font-size: 18px;
  }

  .sec1 .sec1_inner{
    width: 90%;
    /* border: 1px solid #0f0; */
  }
  .sec1 .tit{
    position: relative;
    width: 100%;
    /* border: 1px solid #f00; */
    margin: 0 auto;
  }
  .sec1 .tit h6{
    width: auto;
    margin: 0 auto;
    /* border: 1px solid #00f; */
    text-align: center;
  }
  .sec1 .tit .view_more{
    position: absolute;
    right: 0;
    top: 0px;
  }
  .projects{
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid #f00; */
  }
  .projects ul li{
    width: 30%;
    height: 250px;
    /* border: 1px solid #f00; */
  }
  .projects ul li img{
    height: 100%;
  }
  .ser_text strong{
    font-size: 1rem;
  }
  .ser_text span{
    font-size: 0.6rem;
  }

  .sec2 .sec2_inner{
    width: 90%;
    /* border: 1px solid #f00; */
  }
  .sec2 .tit h2{
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid #00f; */
  }
  .sec2_inner p{
    margin: 30px auto;
  }
  .sec2 .sec2_img ul{
    margin-top: 0;
    /* border: 1px solid #f00; */
  }
  .sec2 .sec2_img ul li{
    height: 250px;
    /* border: 1px solid #f00; */
  }
  .sec2 .sec2_img ul li a{
    height: 100%;
  }

  .sec3 h2{
    text-align: center;
  }
  .ser ul{
    width: 100%;
    margin-top: 80px;
    display: flex;
    /*   flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
  }
  .ser ul li{
    width: 44%;
    height: 120px;
  }
  .ser ul li .ser_txt{
    margin-top: 40px;
  }

  footer{
  height: 120px;
}
  footer .ft .left{
    width: 20%;
    /* border: 1px solid #f00; */
  }
  footer .ft .left img{
    width: 100px;
    height: 30px;
    left: 20px;
  }
  footer .ft .center{
    width: 56%;
    /* border: 1px solid #00f; */
  }
  footer .ft .center p{
    padding: 10px 0 10px 0;
    line-height: 1.6;
    font-size: 12px;
    font-weight: 300;
  }
  footer .ft .center span{
    font-size: 14px;
    font-weight: 200;
    margin-top: 30px;
    line-height: 1.6;
  }
  footer .ft .right{
    width: 24%;
    /* border: 1px solid #f00; */
  }
  footer .ft .right ul{
    margin: 0 20px;
    display: block;
    /* border: 1px solid #f00; */
  }
  footer .ft .right ul li ~ li{
    margin-top: 10px;
  }
  footer .ft .right li img{
    width: 34px;
    height: 34px;
  }
  footer .ft .right li span{
    display: none;
  }

}

@media screen and (max-width:420px){
  .menu{
    width: 2.8rem;
    height: 2.8rem;
    }
  .logo a img{
    width: 80px;
    height: 20px;
    margin-top: 15px;
    margin-left: -20px;
  }
  main > .slide{
    height: 400px;
}
  .slide .tit{
    margin-left: -10px;
  }
  .slide .tit .s_txt p{
    font-size: 12px;
  }
  .slide .tit .s_txt p span{
    font-size: 12px;
  }
  main .slide .tit .eng_txt{
    margin-left: 10px;
  }
  main .slide .bt_txt{
    margin-left: 5px;
    margin-bottom: 20px;
    font-size: 12px;
  }

  .sec1 .tit h6{
    font-size: 24px;
  }
  .sec1 .tit .view_more{
    width: 18%;
    top: 10px;
  }
  .projects ul{
    display: block;
  }
  .projects ul li{
    margin: 0 auto;
    width: 60%;
    height: 200px;
    /* border: 1px solid #f00; */
  }
  .projects ul li ~ li{
    margin-top: 50px;
  }
  .projects ul li img{ 
    width: 100%;
    height: 100%;
  }
  .projects ul li a .ser_text{
    margin-top: 10px;
  }
  .ser_text strong{
    margin-top: 10px;
    font-size: 0.8rem;
  }
  .ser_text span{
    margin-top: 10px;
    font-size: 0.4rem;
  }

  .sec2_inner h2{
    font-size: 24px;
  }
  .sec2_inner p{
    margin: 40px auto;
  }
  .sec2 .sec2_img{
    margin-top: -20px;
  }
  .sec2 .sec2_img ul li{
    height: 180px;
    /* border: 1px solid #f00; */
  }
  .sec2 .sec2_img ul li a{
    height: 100%;
  }
  .sec2_img ul li .text strong{
    font-size: 1.6rem;
  }
  .sec2_img ul li .text span{
    font-size: 1rem;
  }

  .sec3 h2{
    font-size: 24px;
  }
  .ser ul{
    margin-top: 60px;
    display: block;
    /*   flex-direction: column; */
  }
  .ser ul li{
    width: 70%;
    height: 100px;
    margin: 0 auto;
  }
  .ser ul li:nth-child(2){
    margin-top: 40px;
  }
  .ser ul li .ser_txt{
    margin-top: 30px;
  }

  footer{
  height: 100px;
}
  footer .ft .left{
    width: 0%;
    /* border: 1px solid #f00; */
  }
  footer .ft .left img{
    display: none;
  }
  footer .ft .center{
    width: 70%;
    padding-left: 20px;
    /* border: 1px solid #00f; */
  }
  footer .ft .center p{
    padding: 0;
    line-height: 1.8;
    font-size: 12px;
    font-weight: 100;
  }
  footer .ft .center span{
    font-size: 12px;
    font-weight: 100;
    margin-top: 100px;
    line-height: 1.6;
    /* border: 1px solid #f00; */
  }
  footer .ft .right{
    width: 30%;
    /* border: 1px solid #f00; */
  }
  footer .ft .right li img{
    width: 28px;
    height: 28px;
  }

  /*네비게이션메뉴 모바일 버전*/
#gnbMo{
  width: 80%;
}
.gnbNAV{
  left:40%;
  transform: translateY(-50%);
}
}
